apiVersion: v1
kind: Service
metadata:
  labels:
    app: client-gateway-dev
  name: client-gateway-dev
spec:
  ports:
  - name: "3000"
    port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app: client-gateway-dev
  type: NodePort
status:
  loadBalancer: {}
